
.hidden {opacity:0;
transform:translateX(-100%);}

#menuknap{
    display: inline-block;
}
#menu{
    list-style-type: none;
    transition: transform 0.3s;
    transform-origin: top left;
}
@media (min-width:600px){

    #menuknap{
        display:none;
    }
    #menu.hidden{
        transform: translateX(0);
        opacity: 1;

    }

    #menu li{
        display: inline-block;

    }
}
